<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="SqlAuthenticationProviders" type="System.Data.SqlClient.SqlAuthenticationProviderConfigurationSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VerumDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VerumDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <SqlAuthenticationProviders>
      <providers>
        <add name="Active Directory Interactive" type="Microsoft.Azure.Services.AppAuthentication.SqlAppAuthenticationProvider, Microsoft.Azure.Services.AppAuthentication"/>
      </providers>
    </SqlAuthenticationProviders>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <userSettings>
        <VerumDesk.Properties.Settings>
            <setting name="DBConnectionTest" serializeAs="String">
                <value>Server=tcp:saperatec01.database.windows.net,1433;Initial Catalog=VerumTest;Persist Security Info=False;User ID=azureadmin;Password=U327Shns
;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="DBConnectionAlternative" serializeAs="String">
                <value>Server=tcp:saperatec01.database.windows.net,1433;Initial Catalog=VerumProd;Persist Security Info=False;User ID=azureadmin;Password=U327Shns
;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="DBConnectionProduction" serializeAs="String">
                <value>Server=tcp:saperatec01.database.windows.net,1433;Initial Catalog=VerumProd;Persist Security Info=False;User ID=azureadmin;Password=
;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;</value>
            </setting>
            <setting name="DBConnectionDevelop" serializeAs="String">
                <value>Data Source = TECHCOMPILER-67; Initial Catalog = VerumTest; Integrated Security = True</value>
            </setting>
            <setting name="VerumAPIBaseUrl" serializeAs="String">
                <value>https://localhost:7226</value>
            </setting>
        </VerumDesk.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VerumDesk.Properties.Settings>
            <setting name="AzureClientId" serializeAs="String">
                <value>f7c847da-18a7-41ee-a04c-8c4d57ae29cf</value>
            </setting>
            <setting name="AzureSecret" serializeAs="String">
                <value>YOD8Q~oFLz.0RzzJUbPakKFcsv5c6Asob-A8oaPZ</value>
            </setting>
            <setting name="AzureTenantId" serializeAs="String">
                <value>7b529929-46de-4b14-8cec-8d0d154e2f0a</value>
            </setting>
            <setting name="MicrosoftLoginUrlToken" serializeAs="String">
                <value>https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/token</value>
            </setting>
            <setting name="Dynamic365BCCompanyDataUrl" serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v2.0/{TenantId}/{Environment}/ODataV4/Company('{CompanyName}')/{EndPoint}</value>
            </setting>
        </VerumDesk.Properties.Settings>
    </applicationSettings>
</configuration>
