@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" action="/page?handler=button"></form>
    <form asp-page-handler="button" method="post">
        <button class="btn btn-default">Forecast</button>
    </form>
</div>
